body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 350px;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  background-color: #cc0000;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 18px;
  margin: 0;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

main {
  padding: 15px;
  flex-grow: 1;
  overflow-y: auto;
  background-color: #ffffff;
}

h2 {
  font-size: 16px;
  margin-top: 0;
  color: #cc0000;
}

#videoList {
  list-style-type: none;
  padding: 0;
}

#videoList li {
  background-color: #e6e6e6;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 4px;
}

#categoryChart {
  width: 100%;
  height:100%;
  margin-top: 20px;
}

footer {
  padding: 10px;
  background-color: #e0e0e0;
}

#analysisButton {
  font-size: 16px;
  width: 100%;
  background-color: #cc0000;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

#analysisButton:hover {
  background-color: #990000;
}

.hidden {
  display: none;
}

#saveButton {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}

#saveButton:hover {
  background-color: #45a049;
}

#saveButton:active {
  background-color: #388E3C;
}

.video-item div {
  transition: max-height 0.3s ease;
}

.hidden {
  display: none;
}
